body{
    font-size: 15px;
    
}
main{
    background-color: #0A0C1B;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@media(min-width: 1000px){
    main{
        width: 100%;
    }
}


.Card {
    box-sizing: border-box;
    position: relative;
    width: 90vw;
    margin: auto;
    background-color: #1C1938;
    border-radius: 9px;
    overflow: hidden;
}
@media(min-width: 1079px){
    .Card{
        min-width: 70vw;
        position: relative;
        
    }
}
@media(min-width: 1125px){
    .Card{
        width: 70rem;
        
    }
}

@media(min-width: 1611px){
    .Card{
        width: 70rem;
    }
}    
/* Nu ramane la 70rem. Continua sa creasca. Gotta figure out why. */

.Mobile-Image{
    width: 100%;
    height: 20rem;
    background-image: url(./image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media(min-width: 1000px){
    .Mobile-Image{
        display: none;
    }
}
.Mobile-Overlay{
    width: 100%;
    height: 20rem;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.4;
}

@media(min-width: 1000px){
     .Desktop-Image{
         width: 50%;
         height: 100%;
         position: absolute;
         top: 0; right: 0;
         background-image: url(./image-header-desktop.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
     }

     .Desktop-Overlay{
        width: 100%;
        height: 100%;
        background-color: hsl(277, 64%, 61%);
        opacity: 0.4;
     }
}

.Titlu{
    margin: auto;
    width: 60vw;
    padding: 1.2em 0em 0.8em 0em;
    display: block;
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
    line-height: 1.3;
}
@media(min-width: 1000px){
    .Titlu{
        width: 35%;
        text-align:left;
        margin: 2em 0 0.2em 2.3em;
        padding: 0;
        font-size: 2.5em;
    }
}

.HighlightedWord{
    color: hsl(277, 64%, 61%)
}

.Descriere{
    margin: auto;
    width: 63vw;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    line-height: 2;

}
@media(min-width: 1000px){
    .Descriere{
        margin: 2em 0 3em 6em;
        width: 28%;
        text-align: left;
        font-size: 1em;
    }
}


.Stats{
     color:hsl(0, 0%, 100%);
    text-align: center;
}
@media(min-width: 1000px){
        .Stats{
            max-width: 50%;
            margin: 0 0 3em 0;
            display: flex;
            justify-content: flex-start;
        }
}

   .Stat-Titlu{
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 1.6em;   
      margin: 1em 0em 1em 0em;
      color: hsl(0, 0%, 100%);
    }
    @media(max-width: 1124px){
        .Stat-Titlu{
            margin: 0 0 0 2em;
        }
    }
    @media(min-width: 1125px){
        .Stat-Titlu{
            margin: 0 0.3em 0 2.6em;
        }
    }

    .Stat-Continut{
        display: block;
        margin: 1em;
       font-family: 'Lexend Deca', sans-serif; 
       text-transform: uppercase;
       font-weight: 400;
       font-size: 0.5em;
       letter-spacing: 0.1em;
       color: hsla(0, 0%, 100%, 0.6);     
    }   

    

.Credits {
    width: 100vw;
    text-align: center;
    color: #fff;
    }
     .Credits p{
            width: 50%;
            margin: auto;
     }
    
     .Credits a {
      color: hsl(228, 45%, 44%);
     }

      